.nav{
  background-color:black;
  h1{
    margin:0;
    font-size: 30px;
    color:white;
  }

  &-bar{
    margin:0;
    padding:0;
    list-style-type: none;
    display:flex;
    justify-content: space-around;
    li{
      padding: 5px;
      a{
        font-size: 30px;
        text-decoration: none;
        color:white;
        &:hover{
          color:#61dafb;
        }
      }

    }
  }
}